@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root {
    --fonte1: Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2: 'Passion one', cursive;
    --fonte3: 'Sriracha', cursive;
}
* {
    margin: 0px;
    padding: 0px;
    
}

div.quadrado{
    display: inline-block;
    border: 2px solid black;
    background-size: 1420px 380px;
    background-repeat: no-repeat;
    background-color: lightgrey;
    width: 1480px;
    height: 380px;
}
div#q3{
    background-image: url(../imagens/ContactoDimagra.jpg)
}


